.blog { margin: 32px 0 80px;}

.blog__top
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.blog__title
{
    font-weight: 600;
    font-size: 36px;
    color: #1d1d1b;
}

.blog__all-link
{
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    color: #e0001b;
}

.blog__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 67px;
    column-gap: 32px;
    margin-bottom: 67px;
}

.blog__card-title
{
    margin: 24px 0 12px;

    font-weight: 600;
    font-size: 16px;
    color: #1d1d1b;
}

.blog__card-text
{
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1d1d1b;
}

.blog__card-date
{
    font-weight: 400;
    font-size: 12px;
    color: #1d1d1b;
    opacity: 0.5;
}


.blog-slider
{
    max-width: max-content;
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.blog-slider__point
{
    background-color: #F6F6F6;
    height: 48px;
    width: 48px;
    padding: 16px;
    border-radius: 50%;

    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1d1d1b;
    opacity: 0.4;
}

.blog-slider__point--selected { opacity: 1;}



